<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
  <body>
    <p>
    Go to
    <a href="/static_pages/home">home</a>
    for more.
    </p>
  </body>
</html>