<!DOCTYPE html>
<html>
    <head>
        <title>Home | Ruby on Rails Tutorial Sample App</title>
    </head>
    <body>
        <h1>Home Page</h1>
        <p>
            For help, go to <a href="/static_pages/help">help</a>.
        </p>
    </body>
</html>
